.search-input-form{
    margin-top: 20px;
}

.create-btn {
    background-color: #277391;
    color: white;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: none;
    margin-left: 15px;
    border-left: none;
    border-radius: 5px;
    height: 35px;
    padding: 6px;
}

.create-btn:hover {
    background-color: #5d9eb5;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .search-input-form{
        width: 80%;
    }
    .table {
        width: 650px;
        overflow-y: scroll;
    }
}

